@import "../../../assets/styles/app";

.root {
	@include page-layout();
	min-height: 100vh;
	height: auto;

	.content {
		@include page-content();
		//padding-bottom: 0;

		.skipText {
			width: 100%;
			@include font-body14($gray-40, 700, "Inter");
			text-decoration-line: underline;
			margin-top: 16px;
			margin-bottom: 16px;
			text-align: right;
			cursor: pointer;

			svg path {
				fill: $gray-40;
			}
		}

		.avatar {
			margin-top: 25px;
			margin-bottom: 25px;
		}

		.sectionTitle {
			@include font-body14($white-100, 600);
			margin-bottom: 2px;
		}

		.section {
			width: 100%;
			margin-bottom: 8px;

			&.buttons {
				@include flex();
				margin-top: 12px;
				padding-bottom: 100px;
			}

			.button {
				@include flex();
				width: auto;
				padding: 12px 16px;
				box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
				border-radius: 4px;
			}

			.sectionLabel {
				@include font-body12($gray-60, 400);
				font-style: italic;
				line-height: normal;
				letter-spacing: -0.24px;
				margin-top: 2px;
			}
		}

		.twins {
			.grid {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-gap: 8px;
			}
		}
	}
}
