@import "../../assets/styles/app";

.icon {
	cursor: pointer;
	margin-left: auto;
}

.root {
	.title {
		@include font-body16($white-100);
		font-weight: 600;
		text-align: center;
		width: 100%;
	}

	.description {
		@include font-body14($white-100, "Poppins", 400);
		text-align: center;

		span {
			font-family: "Poppins";
			font-weight: 800;
		}
	}

	.buttons {
		width: 100%;

		.button + .button {
			margin-top: 8px;
		}
	}
}
