@import "../../assets/styles/app";

.root {
	@include page-layout();
	justify-content: center;

	.content {
		@include page-content();

		.title {
			@include font-header2($white-100);
			margin-bottom: 43px;
		}

		.imageContainer {
			margin-bottom: 121px;
			img {
				max-width: 200px;
				max-height: 200px;
			}
		}

		.login {
			@include font-button-text($white-100, "Poppins", 400);

			span {
				cursor: pointer;
				color: $green-100;
				text-decoration: underline;
			}
		}
	}
}
