@import "../../../assets/styles/app";

.root {
	@include page-layout();

	.headerIcon {
		margin-left: auto;
	}

	.content {
		@include page-content(flex-start);
		padding-bottom: 10px;
		padding-left: 0;
		padding-right: 0;

		.buttons {
			width: 100%;
			margin-top: 44px;
			padding-left: 14px;
			padding-right: 14px;
		}
	}
}
