@import "../../../assets/styles/app";

.root {
	@include page-layout();

	.saveText {
		@include font-body14($green-100, 600);
		cursor: pointer;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
	}

	.content {
		@include page-content(flex-start);
	}
}
