{
    "organization": "icprolodex",
    "account": "weaved8xLnTMp5B5GtJwDQvc1u7K4fwPc2ry7iDieyCdJRHcG",
    "scope": "*",

    "chainClientConfig": {
        "apiVersion" : 1,

        "seed" : "aeb5e91eb00aa33ad221fc1ade75da57",
        "privateKeyFile" : "/app/config/icprolodex.pvk",
        "publicKeyFile" : "/app/config/icprolodex.pub",

        "http": {
            "host": "host.docker.internal",
            "port": 47080,
            "useHttps": false
        }
    }
}