{
    'apiVersion' : 1,

    'seed' : 'aeb5e91eb00aa33ad221fc1ade75da57',
    'publicKeyFile' : '/config/icprolodex.pub',
    'privateKeyFile' : '/config/icprolodex.pvk',

    'cachingEnabled': true,
    'isDataIntegrityCheck': true,

    'http': {
        'port': 443,
        'portNoSsl': 80,

        'useHttps': true,
        'keyStore': '/config/keystore.jks',
        'keyStorePass': 'redacted'
    },

    'websocket': {
        'port': 47000,

        'useWss': true,
        'keyStore': '/config/keystore.jks',
        'keyStorePass': 'redacted',
        'keyPass': 'redacted',

        'connectionLostTimeout': 300
    },

    'databases': {
        'rolodex': {
            'connectionAdapterType': 'sqlite',
            'encryption': {
                'type': 'AES',
                'secretKey': 'redacted',
                'salt': 'salt#icprolodex#$'
            },
            'replication': {
                'type': 'none',
                'allowedCachingIntervalSec': 604800
            },

            'jdbcConfig': {
                'database': '/storage/storage_rolodex.db'
            }
        },
        'audit_scope': {
            'connectionAdapterType': 'sqlite',
            'replication': {
                'type': 'none',
                'allowedCachingIntervalSec': 604800
            },

            'jdbcConfig': {
                'database': '/storage/storage_audit.db'
            }
        },
        'lineage_scope': {
           'connectionAdapterType': 'sqlite',
           'replication': {
               'type': 'none'
           },

           'jdbcConfig': {
               'database': '/storage/storage_lineage.db'
           }
        },
        '_sidechain_weave': {
            'connectionAdapterType': 'sqlite',
            'replication': {
                'type': 'none'
            },

            'jdbcConfig': {
                'database': '/storage/storage_system.db'
            }
        },
        '_node_weave_private': {
            'connectionAdapterType': 'sqlite',
            'replication': {
                'type': 'none'
            },
              'jdbcConfig': {
                'database': '/storage/storage_system_private.db'
            }
        }
    },

    'audit': {
        'auditScope': 'audit_scope',
        'auditAccount': 'icprolodex',
        'guaranteed': false,
        'auditTables': true,
        'auditAccounts': true,
        'auditTasks': true,
        'logRequestStart': true,
        'logRequestEnd': true,
        'logRequestData': true,
        'logRequestResult': true,
        'connection': {
            'account': 'weaved8xLnTMp5B5GtJwDQvc1u7K4fwPc2ry7iDieyCdJRHcG',
            'publicKeyFile' : '/config/icprolodex.pub',
            'privateKeyFile' : '/config/icprolodex.pvk',
            'inMem': true
        }
    },

    'lineage': {
        'lineageScope': 'lineage_scope'
    },

    'compute': {
        'dockerServiceURL': 'http://host.docker.internal:2375',
        'keyStore': 'keystore.jks',
        'keyStorePass': 'redacted',
        'allowConsoleOutput': true
    },

    'sidechainDataConfig': {
        'sysDataScope': '_sidechain_weave',
        'sysPrivateDataScope': '_node_weave_private'
    },

    'organizations': {
        'icprolodex': {
            'issuers': {
            },
            'accounts': {
                'icprolodex': {
                    'publicKey': 'weaved8xLnTMp5B5GtJwDQvc1u7K4fwPc2ry7iDieyCdJRHcG',
                    'roles': [ 'writer' ]
                }
            },
            'roles': {
                'reader': {
                    'permissions': [ {
                        'scopes': [ { name: '*', tables: [ '*' ] } ],
                        'rights': [ 'view', 'read', 'compute' ]
                        }
                    ]
                },
                'writer': {
                    'permissions': [ {
                        'scopes': [ { name: '*', tables: [ '*' ] } ],
                        'rights': [ 'view', 'create', 'drop', 'read', 'write', 'compute', 'publish' ]
                        }
                    ]
                }
            }
        }
    },

    'peers': {
        'consensus': 'none',
        'pingIntervalSec': 10,
        'allowUnauthorizedPeers': false,
        'connections': [
        ]
    },

    'hashTree': {
        'hashTreeScope': 'lineage_scope',
        'salt': 'salt1234',
        'snapshotScopes': {
            'rolodex:directory': '{"op": null, "order": null, "limit": null, "collapsing": [ "name_nickname","name_last","name_first","birthday","email_personal","phone_number","address_country","address_summary","address_timezone","linkedin_url","discord_username","telegram_username","ethereum_wallet_address" ], "columns": [ "name_nickname","name_last","name_first","birthday","email_personal","phone_number","address_country","address_summary","address_timezone","linkedin_url","discord_username","telegram_username","ethereum_wallet_address" ]}'
        },
        'blockchain': {
            'type': 'icp',
            'signSecret': 'keyphrase',

            'icpConfig': {
                'rpcUrl': 'https://icp0.io',
                'useSecp256k1': true,
                'pemFile': '/config/icp_auth.pem',

                'canisters': {
                   'rolodex': {
                      'directory': 'WeaveRootHash:vsxjn-aqaaa-aaaal-ac77q-cai'
                   }
                }
            }
        }
    },

    'weaveChain': {
        'genesisData': '{ "weaved8xLnTMp5B5GtJwDQvc1u7K4fwPc2ry7iDieyCdJRHcG": { "USDC": 1 } }',
        'dbConfig': {
           'connectionAdapterType': 'sqlite',
           'replication': {
               'type': 'none'
           },

           'jdbcConfig': {
               'database': '/storage/storage_l1.db'
           }
        },
        'organization': 'icprolodex',
        'account': 'icprolodex',
        'scope': ''
    },

    'blockchain': {
        'type': 'icp',
        'signSecret': 'keyphrase',
        'reportErrorIds': false,
        'asyncWrite': true,


        'icpConfig': {
            'rpcUrl': 'https://icp0.io',
            'useSecp256k1': true,
            'pem': '/config/icp_auth.pem',

            'canisters': {
               'rolodex': {
                  'directory': 'vsxjn-aqaaa-aaaal-ac77q-cai'
               }
            }
        },

        'weaveConfig': {
            'inmem': true,
            'contractAccounts': {
                'nfts_metadata': null
            }
        },

        'signingOptions': {
            'waitRecords': 100000,
            'waitSize': 2097152,
            'waitTimeMs': 1000
        }
    }
}